/*Global styles*/

body {
  background-image: url("images/background.jpg");
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eeeeee;
  box-sizing: content-box;
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-around;
}

.button {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.button:hover {
  color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .8);
}

.brand {
  font-weight: lighter;
  font-size: 4em;
  text-align: center;
  margin-bottom: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding: 10px;
}


/* card */

.card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .8);
}

.card>* {
  padding: 10px;
}


/* card header */

#card-title {
  font-size: 1.5em;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.nav-button {
  flex-grow: 1;
  font-size: 1.3em;
}


/* card body */

.card-body {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#card-body-title {
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.5em;
}

#form-container {
  flex-grow: 6;
}

#left-column {
  flex-grow: 1;
  margin-right: 20px;
}

#right-column {
  flex-grow: 1;
}

.input-group {
  display: flex;
  margin-bottom: 1.5em;
}

.input-field {
  flex: 1;
  background: rgba(0, 0, 0, 0.1);
  color: #ccc;
}

.input-field:not(:first-child) {
  border-left: 0;
}

.input-field:not(:last-child) {
  border-right: 0;
}

.input-addon {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font: inherit;
  font-weight: normal;
}

.input-field,
.input-addon {
  border: 1px solid rgba(147, 128, 108, 0.25);
  padding: 0.5em 0.75em;
}

.input-field:first-child,
.input-addon:first-child {
  border-radius: 5px 0 0 5px;
}

.input-field:last-child,
.input-addon:last-child {
  border-radius: 0 5px 5px 0;
}

#submit-button {
  width: 96%;
  text-align: center;
}


/*date picker stuff*/

.ui-datepicker {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 0px 120px 0px rgba(0, 0, 0, 0.5);
  min-width: 40%;
  color: white;
  transform: translate(-5px);
  border-radius: 5px;
}

.ui-datepicker a {
  text-decoration: none;
  color: #eeeeee;
}

.ui-datepicker-inline {
  position: relative;
  width: 100%;
}


/*Header*/

.ui-datepicker-header {
  padding-bottom: 10px;
  background: rgb(17, 27, 16);
}

.ui-datepicker-prev {
  float: left;
}

.ui-datepicker-next,
.ui-datepicker-prev {
  padding: 10px;
  cursor: pointer;
}

.ui-datepicker-next:hover,
.ui-datepicker-prev:hover {
  color: white;
}

.ui-datepicker-next {
  float: right;
}

.ui-datepicker-title {
  clear: both;
  text-align: center;
}


/*Calendar*/

.ui-datepicker-calendar {
  background: rgba(0, 0, 0, 0.1);
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker table td {
  margin: 0;
  text-align: center;
  transition: ease-out 0.2s;
  transition: ease-in 0.1s;
}

.ui-datepicker table td:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .8);
}

@media(max-width: 640px) {
  #form-container {
    display: block;
  }
  #form-container>* {
    width: 100%;
  }
  .ui-datepicker-calendar {
    background: rgb(150, 150, 150)
  }
  .ui-datepicker {
    width: 70%;
  }
}

@media(min-width: 1000px) {
  .brand {
    margin-bottom: 20px;
  }
  .card {
    margin-top: 40px;
  }
  .card-header {
    display: flex;
    flex-direction: column;
    min-height: 230px;
    flex-grow: 1;
  }
  .card-header>* {
    flex-grow: 1;
    margin: 10px;
  }
  .card-body {
    min-height: 230px;
    flex-grow: 3;
  }
  .card {
    display: flex;
  }
}